/* Basic Centering and Square Box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Moved from center to bottom */
    padding-bottom: 10%;
    /* Gave it some space off the absolute bottom edge */
}

.square {
    width: 40px;
    height: 40px;
    background-color: black;
}