/* Basic Centering and Square Box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    background-color: black;
}